*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
background-image: url(services-background.png);  
background-position: center;
background-size: cover;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;

}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}

.icon{
    width: 30px;
    cursor: pointer;
    margin-left: 20px;
   
}
nav :hover {
    font-weight: bolder;
    font-size: 30px;
    flex: 1;
    text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   text-shadow: rgb(5, 0, 0); 
   
transform: translateX(120px);  
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
background-position: 80px;
    background-size: contain;
    position: relative;
    text-decoration: none;
    font-weight: bolder;
    position: sticky;
    display: inline-block;
  border-radius: 50px 50px;
  box-sizing: border-box 50px;
background-color: #000000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   
    

}

nav ul li a{
   
    text-decoration: none;
color: #ffffff;
font-size: 20px;
}

.row{
    display: flex;
    height: 60%;
    align-items: center;
    
}

.cl {
    flex-basis: 50%;
   
}

h1{
    color: #fff;
    font-size: 85px;
    text-shadow: black 5px 2px 4px;
    
}







p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: black 5px 2px 4px;
    inset: block 50px; ;
    
}

.sd {
    padding-left: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1em;
    padding-bottom: 10px;
   text-size-adjust: 100px
   initial
   
}

.card {
  width: 200px;
  height: 250px;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 10px;
  transition: ease-in 20ms;
background-position: center;
background-size: cover;

}



.card1{
    background-image: url(https://j.top4top.io/p_2592875ty1.png);
    margin-left: auto; 
    margin-right: 0;
    position: absolute;
    top: 550px;
    left: 1450px;
    border: 1px solid #000000;

}


.card2{
    background-image: url(https://f.top4top.io/p_2592apcb21.png);
    position: absolute;
  top: 550px;
  right: 30px;
  border: 1px solid #000000;

}

.card3 {
 
    background-image: url(https://d.top4top.io/p_2593k0sft1.png);
    position: absolute;
  top: 250px;
  left: 1670px;
  border: 1px solid #000000;
}

.card4 {
 
    background-image: url(https://b.top4top.io/p_2593lvvnh1.gif);
    position: absolute;
  top: 250px;
  left: 1440px;
  border: 1px solid #000000;
}


.card5 {
 
    background-image: url(https://e.top4top.io/p_259322io41.jpg);
    position: absolute;
  top: 360px;
  left: 1150px;
  border: 1px solid #ffffff;
}




.card:hover{
    transform: translateY(-10px);
 }

 .L {

font-size: 100px;
position: absolute;
top: 80px;
left: 1540px;

border: 9px solid #ffffff;
border-radius: 20px;
box-sizing: border-box;
background-color: #000000;
 }

 .Y {
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 1150px; 

border-width: 3px;
box-sizing: border-box ;
text-shadow: #fa0000 5px 5px;
 }


.P1{
    display: inline-block;
    color: #ffffff;
    text-shadow: none;
    text-align: center;
    font-size: 40px;
}
 